$font_Family: serif;

$main_Background: #efefef;
$card_Background: #fff;

$main_Color: #fc5830;

$card_Heading: #617d8a;
$line_Color: #d3dbde;
$post_Description: #bfbfbf;
$paragraph_Color: #757575;

$form_Color: #757575;
