$font_Family: sans-serif;

$main_Background: #fff;
$card_Background: #efefef;

$main_Color: #1fbcd3;

$card_Heading: #1697a6;
$line_Color: #617d8a;
$post_Description: #159587;
$paragraph_Color: #617d8a;

$form_Color: #757575;
